:root {
  --color1: #ffe240;
  --color2: #191f3a;
  --color4: #c21212;
  --box: #2c3766;
  --color3: #ffffff;
  --overview-color: #f5e392;
  --title2-color: #10722d;
  --title3-color: #085797;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  width: 100vw;
  height: 100vh;
  background: url("image/header-background.jpeg");
  background-position: 65% 35%;
  background-size: 1300px 1300px;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/*drop down nav*/
header input {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 12px;
  left: 12px;
  opacity: 0.3;
  z-index: 2;
  cursor: pointer;
  position: fixed;
}

/*respond after user's input*/
header input:checked ~ .menu-icon .menu-line::before {
  transform: rotate(90deg);
  top: 0;
}
header input:checked ~ .menu-icon .menu-line::after {
  transform: rotate(90deg);
  top: 0;
}
header input:checked ~ .menu-icon .menu-line {
  transform: rotate(135deg);
  transition: 0.3s;
}
header input:checked ~ .menu-item {
  right: 0;
}

/*design nav icon*/
.menu-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 12px;
  left: 12px;
  opacity: 1;
  z-index: 1;
  cursor: pointer;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-line {
  height: 4px;
  width: 100%;
  background: var(--color1);
  position: relative;
}
.menu-line::before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  background: var(--color1);
  top: -14px;
}
.menu-line::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  background: var(--color1);
  top: 14px;
}

/*display sections on nav*/
.menu-item {
  position: fixed;
  width: 300px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: -100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 10;
  flex-direction: column;
  transition: 0.5s;
}
.menu-item li {
  line-height: 40px;
}
.menu-item li a {
  color: var(--color1);
}

/*header text*/
.header-text {
  position: absolute;
}
.header-text h1 {
  font-size: 50px;
  color: var(--color4);
  margin-bottom: 20px;
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
  padding: 45px 0;
}

/*contact button*/
.header-text a {
    padding: 15px 40px;
    background: var(--overview-color);
    color: #000;
    border-radius: 50px;
    font-size: 25px;
    animation: headerAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition: 0.3s;
    font-family:"Archivo Black", sans-serif;
}
.header-text a:hover {
    background: transparent;
    color: var(--overview-color);
    border: 2px solid var(--overview-color);
}
@keyframes headerAnimation {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}

/*style sections*/
.section-padding{
    padding: 80px 0;
}
.section-title {
  width: 100%;
  text-align: center;
  padding: 6px 0;
}
.section-title h2 {
  font-size: 45px;
  color:#c21212;
}
.section-title h2::before {
  content: attr(data-title);
  display: block;
  font-size: 24px;
  color: #000;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

/* overview */
.overview {
    background-color: var(--overview-color);
}
.overview-title{
    width: 100%;
    text-align: center;
}
.overview-title .overview-button{
    background-color: transparent;
    margin: 10px 12px;
    border: none;
    font-size: 20px;
    color: var(--color2);
    cursor: pointer;
}

.overview .overview-item {
    width: 100%;
    padding: 10px 0;
}

.overview .overview-item h2{
    color: var(--color2);
    font-size: 35px;
    text-align: center;
    padding: 6px 0;
}
.overview .overview-item p{
    font-size: 18px;
    margin: 15px 0;
    text-align: center;
}

.overview-title .overview-button.active{
    color: var(--color4);
}
.overview-title .overview-button:hover{
    color: var(--color4);
}
